
<div class="row mt-5"> 
        <div class="col-2">
        
        </div>
        <div class="col">
            <h2>Lista de sedes UD</h2>
            <hr>
        </div>
</div>
<div class="row container">
    <div class="col-2"></div>
    <div class="col">
        <div class="row">
            <div class="col-4 mb-2" *ngFor="let propiedad of propiedades">
                <div class="card">
                    <app-mini-mapa [coordenadas]="propiedad.lngLat" class="card.img.top"></app-mini-mapa>
                    <div class="card-body">
                        <h5 class="card-title"> {{propiedad.titulo | titlecase}}</h5>
                        <p class="card-text"> {{propiedad.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
